{% extends 'base.html' %}

{% block title %} Profile page {% endblock %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}

    <div class="section_container">
        <div class="wrapper">
            <div class="main_profile_redactor_container">

                <div class="title_main_profile_redactor_block">
                    <h1>Overview</h1>
                    <p>Home - Account</p>
                </div>

                <div class="information_main_profile_redactor_block">
                    <div class="main_information_profile_block">
                        {% if not profile.avatar %}
                            {% if profile.gender == 'Male' %}
                                <div class="image_main_information_block"
                                     style="background-image: url('https://preview.keenthemes.com/metronic8/vue/demo1/media/avatars/300-1.jpg');"></div>
                            {% elif profile.gender == 'Female' %}
                                <div class="image_main_information_block"
                                     style="background-image: url('https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=461&q=80');"></div>
                            {% else %}
                                <div class="image_main_information_block"
                                     style="background-image: url('https://i.pinimg.com/564x/26/4e/c4/264ec4856bdfcb11d9f87b7eb92e333c.jpg');"></div>
                            {% endif %}
                        {% else %}
                            <div class="image_main_information_block"
                                 style="background-image: url('{{ profile.avatar.url }}');"></div>
                        {% endif %}
                        <div class="user_information_profile_block">
                            <div class="fullname_user_information_block">
                                {% if profile.user.first_name %}
                                    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                                {% else %}
                                    <h1>Anonymous</h1>
                                {% endif %}
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#009ef7"
                                         class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"></path>
                                    </svg>
                                </i>
                            </div>
                            <div class="additional_user_information_block">
                                <div class="geolocation_user_information_block">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#474761"
                                             class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                                        </svg>
                                    </i>
                                    <h1>{{ profile.country }}</h1>
                                </div>
                                <div class="mail_user_information_block">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#474761"
                                             class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                                        </svg>
                                    </i>
                                    <h1>{{ profile.user.email }}</h1>
                                </div>
                            </div>
                            <div class="balance_user_information_block">
                                <div class="check_balance_user_block">
                                    <div class="title_check_balance_user_block">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                 fill="#50cd89" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"></path>
                                            </svg>
                                        </i>
                                        <h1>4500 $</h1>
                                    </div>
                                    <p>Balance</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="completion_information_profile_block">
                        <a href="" class="replenish_balance_user_block">
                            Replenish balance
                        </a>
                        <div class="percentage_completion_user_block">
                            <div class="title_percentage_completion_block">
                                <h1>Profile Completion</h1>
                                <p>{{ completion_percentage }}%</p>
                            </div>
                            <div class="background_range_question_block">
                                {% if empty_fields == 0 %}
                                    <div class="range_question_value_block" style="width: 100%;"></div>
                                {% else %}
                                    <div class="range_question_value_block"
                                         style="width: {{ completion_percentage }}%;"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile_detail_profile_redactor_block">
                    <div class="title_profile_detail_redactor_block">
                        <h1>Profile Details</h1>
                    </div>

                    {% for message in messages %}
                        <div class="change_error_message_block">
                            <p>{{ message }}</p>
                            <span class="close_error_message">Ok! Got it.</span>
                        </div>
                    {% endfor %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="main_information_profile_detail_block">
                            <div class="profile_detail_info">
                                <div class="company_logo_form_block">
                                    <div class="title_company_logo_form_block">
                                        <h1>Avatar</h1>
                                        <i style="margin-left: 10px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                 fill="#5e6778" class="bi bi-exclamation-circle-fill"
                                                 viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <div class="image_user_avatar_block">
                                        <div class="image_company_logo_form_block">
                                            {% if not profile.avatar %}
                                                <div class="default_image_image_company_logo"
                                                     style="background-image: url('https://preview.keenthemes.com/metronic8/demo16/assets/media/svg/files/blank-image-dark.svg')"></div>
                                            {% else %}
                                                <div class="default_image_image_company_logo"
                                                     style="background-image: url('{{ profile.avatar.url }}')"></div>
                                            {% endif %}
                                            <label class="change_image_company_logo" for="avatar">
                                                <input type="file" name="avatar" class="inputTag" id="avatar">
                                                <svg id="imageName" xmlns="http://www.w3.org/2000/svg" width="15"
                                                     height="15" fill="#5e6778" class="bi bi-pencil-fill"
                                                     viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="attention_text_validate_company_logo">
                                            <p>Allowed file types: png, jpg, jpeg.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile_detail_info">
                                <p>Full Name</p>
                                <label for="first_name" style="width: calc((100% - 33%) / 2);">
                                    <input type="text" name="first_name" id="first_name"
                                            {% if profile.user.first_name %}
                                           value="{{ profile.user.first_name }}" {% endif %}>
                                </label>
                                <label for="last_name" style="width: calc((100% - 33%) / 2 - 20px); margin-left: 20px;">
                                    <input type="text" name="last_name" id="last_name" {% if profile.user.last_name %}
                                           value="{{ profile.user.last_name }}" {% endif %}>
                                </label>
                            </div>
                            <div class="profile_detail_info">
                                <p>Phone number</p>
                                <label for="phone_number">
                                    <input type="text" name="phone_number" id="phone_number"
                                            {% if profile.phone_number %} value="{{ profile.phone_number }}" {% endif %}
                                           placeholder="+7 777 777 77-77">
                                </label>
                            </div>
                            <div class="profile_detail_info">
                                <p>Country</p>
                                <label for="country">
                                    <input type="text" name="country" id="country" {% if profile.country %}
                                           value="{{ profile.country }}" {% endif %} placeholder="Kazakhstan">
                                </label>
                            </div>
                            <div class="profile_detail_info">
                                <p>CARD PIN</p>
                                <label for="card">
                                    <input type="text" name="card" id="card" maxlength="16" {% if profile.card_number %}
                                           value="{{ profile.card_number }}" {% endif %} placeholder="4400444444444444">
                                </label>
                            </div>
                            <div class="profile_detail_info">
                                <p>Gender</p>
                                <div class="form_radio_block_activity_type"
                                     style="display:flex; align-items: center; justify-content: space-between;">
                                    {% for gender_type in activity_gender_type %}
                                        <div class="personal_activity_radio_block type-activity-radio-block">
                                            <input type="radio" name="gender" id="{{ gender_type }}"
                                                   value="{{ gender_type }}" checked>
                                            <label for="{{ gender_type }}">
                                                <div class="personal_activity_title_info_block title_type_activity_block"
                                                     style="padding: 15px 70px;">
                                                    <h1>{{ gender_type }}</h1>
                                                </div>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="save_changes_profile_redactor_block">
                            {% for message in messages %}
                                <p class="error_message_edit_profile">{{ message }}</p>
                            {% endfor %}
                            <a href="{% url 'profile' %}">Discard</a>
                            <button type="submit">Save Changes</button>
                        </div>
                    </form>
                </div>

                <div class="profile_detail_profile_redactor_block">
                    <div class="title_profile_detail_redactor_block">
                        <h1>Sign-in Method</h1>
                    </div>
                    <form method="POST" style="margin-bottom:10%">
                        {% csrf_token %}
                        <div class="main_information_profile_detail_block">
                            <div class="change_email_profile_redactor_block change_email_redactor">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="inputs_change_email_profile_redactor">
                                        <label for="new_email">
                                            <p>Enter New Email Address</p>
                                            <input type="email" name="new_email" id="new_email"
                                                   value="{{ profile.user.email }}">
                                        </label>
                                        <label for="confirm_password">
                                            <p>Confirm Password</p>
                                            <input type="password" name="confirm_password" id="confirm_password">
                                        </label>
                                    </div>
                                    <div class="buttons_change_email_profile_redactor">
                                        <button type="submit">Update Email</button>
                                        <span class="cancel_email">Cancel</span>
                                    </div>
                                </form>
                            </div>
                            <div class="change_sign_in_method_profile_block change_email_block">
                                <div class="title_change_sign_in_method_block">
                                    <h1>Email Address</h1>
                                    <p>{{ profile.user.email }}</p>
                                </div>
                                <span class="change_email">Change Email</span>
                            </div>

                            <div class="change_email_profile_redactor_block reset_password_redactor"
                                 style="margin-top: 40px;">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="inputs_change_email_profile_redactor">
                                        <label for="current_password">
                                            <p>Current password</p>
                                            <input type="password" name="current_password" id="current_password">
                                        </label>
                                        <label for="new_password">
                                            <p>New Password</p>
                                            <input type="password" name="new_password" id="new_password">
                                        </label>
                                    </div>
                                    <div class="buttons_change_email_profile_redactor">
                                        <button type="submit">Update Password</button>
                                        <span class="cancel_password">Cancel</span>
                                    </div>
                                </form>
                            </div>

                            <div class="change_sign_in_method_profile_block reset_password_block"
                                 style="margin-top: 40px;">
                                <div class="title_change_sign_in_method_block">
                                    <h1>Password</h1>
                                    <p>********</p>
                                </div>
                                <span class="reset_password">Reset Password</span>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>

        let input = document.getElementById('inputTag');
        let imageName = document.getElementById('imageName');

        input.addEventListener('change', () => {
            let inputImage = document.querySelector('input[type=file]').files[0];
            imageName.innerText = inputImage.name;
        })

    </script>

    <script>
        const cancelEmail = document.querySelector('.cancel_email');
        const changeEmailBlock = document.querySelector('.change_email_block');
        const changeEmailOpenBlock = document.querySelector('.change_email_redactor');
        const changeEmailButton = document.querySelector('.change_email');

        changeEmailButton.addEventListener('click', () => {
            changeEmailOpenBlock.style.display = 'block';
            changeEmailBlock.style.display = 'none';
        })

        cancelEmail.addEventListener('click', () => {
            changeEmailOpenBlock.style.display = 'none';
            changeEmailBlock.style.display = 'flex';
        })

    </script>

    <script>
        const cancelPassword = document.querySelector('.cancel_password');
        const changePasswordBlock = document.querySelector('.reset_password_block');
        const changePasswordOpenBlock = document.querySelector('.reset_password_redactor');
        const changePasswordButton = document.querySelector('.reset_password');

        changePasswordButton.addEventListener('click', () => {
            changePasswordOpenBlock.style.display = 'block';
            changePasswordBlock.style.display = 'none';
        })

        cancelPassword.addEventListener('click', () => {
            changePasswordOpenBlock.style.display = 'none';
            changePasswordBlock.style.display = 'flex';
        })

    </script>

    <script>
        const errorMessageBlock = document.querySelector('.change_error_message_block');
        const closeErrorMessage = document.querySelector('.close_error_message');

        closeErrorMessage.addEventListener('click', () => {
            errorMessageBlock.style.display = 'none';
        })
    </script>

{% endblock %}