{% extends 'base.html' %}

<style>
    img {
        width: 300px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }
</style>

{% block content %}
    <div class="container">
        <div class="row">
            {% if movie.image %}
                <div class="col-md-4 justify-content-center">
                    <img style="margin-left: 10%;margin-top: 30%;width: 300px" src="{{ movie.image.url }}" alt="">
                    <br>
                </div>
            {% endif %}
            <div class="col-md-8 mt-3">
                <h1 class="mt-3">{{ movie.title }}</h1>
                <h4 class="mt-3">Год выпуска: <b>{{ movie.year_of_release }}</b></h4>
                <h4 class="mt-3">Страна производства: <b>{{ movie.country }}</b></h4>
                <h4 class="mt-3">Режиссер: <b>{{ movie.directors }}</b></h4>
                <h4 class="mt-3">Актеры: <b>{{ movie.stars }}</b></h4>
                <h4 class="mt-3">Жанры: <b>{{ movie.genre }}</b></h4>
                <h4 class="mt-3">Продолжительность: <b>{{ movie.duration }}</b></h4>
                <h4 class="mt-3">Возрастное ограничение: <b>{{ movie.age_limit }}+</b></h4>
                <h4 class="mt-3">Дата премьеры: <b>{{ movie.release_date }}</b></h4>
                {#                <h4 class="mt-3">Hall ID: {{ movie.hall_id }}</h4>#}
                <h4 class="mt-3">Rating: <b>{{ movie.rating }}☆</b></h4>
                <h5 class="mt-5"><b>{{ movie.description }}</b></h5>
                <button class="btn btn-primary mt-3">Купить билет</button>
            </div>
        </div>
    </div>
{% endblock %}