{% extends 'base.html' %}
{% block content %}
<ul class="list-group">
  {% for item in movie_list %}
  <li class="list-group-item">
      <span class="text-info">Title: </span> <span>{{ item.movie.title }}</span>
      <br>
      <span class="text-info">Cinema: </span><span>{{ item.movie.cinema }}</span>
      <br>
      <span class="text-info">Genre: </span><span>{{ item.movie.genre }}</span>
      <br>
      <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ item.movie_rating }}</span>
      <br>
      <span class="text-info">Number of reviews: </span><span>{{ item.number_of_reviews }}</span>
      <br>
      {% if item.movie_rating is null %}
      <span class="text-secondary">Provide a rating and write the first review for this book.</span>
      <br>
      {% endif %}
      <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="/books/{{ item.movie.id }}/">Reviews</a></li>
  {% endfor %}
</ul>
{% endblock %}