@import url('https://fonts.googleapis.com/css2?family=Inder&family=Saira+Condensed:wght@300;400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
svg {
    display: flex;
    align-items: center;
}
.wrapper {
    padding: 0 100px;
}

.body {
	font-family: 'Saira Condensed', monospace;
}



/* GET STARTED */



header {
    background-color: #5c5c5c;
    width: 100%;
    height: 60px;
}

.section_container {
    background-color: #171721;
    padding: 30px 0;
}

.title_main_profile_redactor_block h1 {
    color: #FFF;
    font-size: 1.35rem !important;
    font-weight: 600;
}

.title_main_profile_redactor_block p {
    color: #565674;
    padding: 5px 0 20px 0;
    font-size: 0.95rem;
    font-weight: 500;
}

.information_main_profile_redactor_block {
    background-color: #1e1e2d;
    border-radius: 5px;
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_information_profile_block {
    display: flex;
    align-items: center;
}

.image_main_information_block {
    width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.user_information_profile_block {
    margin-left: 20px;
}

.fullname_user_information_block {
    display: flex;
    align-items: center;
}

.fullname_user_information_block h1 {
    color: #cdcdde;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.25rem;
}

.fullname_user_information_block i, svg {
    padding: 0;
    margin: 0;
}

.additional_user_information_block {
    padding: 10px 0 30px 0;
}

.additional_user_information_block,
.geolocation_user_information_block,
.mail_user_information_block {
    display: flex;
    align-items: center;
}

.geolocation_user_information_block:hover h1,
.geolocation_user_information_block:hover svg,
.mail_user_information_block:hover h1,
.mail_user_information_block:hover svg{
    cursor: pointer;
    color: #409eff;
    fill: #409eff;
}

.geolocation_user_information_block h1,
.mail_user_information_block h1 {
    color: #474761;
    font-weight: 400;
    margin-left: 0.25rem;
}

.mail_user_information_block {
    margin-left: 20px;
}

.balance_user_information_block {
    display: inline-flex;
    padding: 0.75rem 1rem;
    border: 1px dashed #323248;
    border-radius: 0.475rem;
}

.check_balance_user_block {
    display: inline-flex;
    flex-direction: column;
}

.title_check_balance_user_block {
    display: inline-flex;
    align-items: center;
}

.title_check_balance_user_block h1 {
    color: #FFF;
    margin-left: 5px;
    font-size: 1.35rem;
    font-weight: 600;
}

.check_balance_user_block p {
    color: #474761;
    margin-top: 5px;
    font-size: 1.075rem;
    font-weight: 600;
}

.title_percentage_completion_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 10px 0;
}

.title_percentage_completion_block h1 {
    color: #474761;
    font-size: 1.075rem;
    font-weight: 400;
}

.title_percentage_completion_block p {
    color: #FFF;
    font-size: 1.075rem;
    font-weight: 600;
}

.replenish_balance_user_block {
    display: inline-flex;
    padding: 12px 40px;
    background-color: #50cd89;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 1.075rem;
}

.background_range_question_block {
    display: flex;
    align-items: center;
    background: #2b2b40;
    border-radius: 0.475rem;
    width: 300px;
    height: 5px;
}

.range_question_value_block {
    height: 5px;
    border-radius: 0.475rem;
    background: #50cd89;
}

.profile_detail_profile_redactor_block {
    margin-top: 30px;
    background-color: #1e1e2d;
    border-radius: 5px;
}

.title_profile_detail_redactor_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2b2b40;
    padding: 1.5rem 2.5rem;
}

.title_profile_detail_redactor_block h1 {
    color: #FFF;
    font-size: 1.35rem;
    font-weight: 600;
}

.title_profile_detail_redactor_block a {
    cursor: pointer;
    background-color: #0095e8;
    border-radius: 5px;
    color: #FFF;
    font-size: 0.935rem;
    font-weight: 600;
    padding: calc(.775rem + 1px) calc(1.5rem + 1px);
}

.main_information_profile_detail_block {
    padding: 1.5rem 2.5rem calc(1.5rem + 30px) 2.5rem;
}

.profile_detail_info {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.profile_detail_info p {
    color: #565674;
    width: 33%;
    font-size: 0.9rem;
}

.profile_detail_info h1 {
    color: #FFF;
    font-size: 1.075rem;
    font-weight: 600;
}

.profile_detail_info label {
    width: calc(100% - 33%);
}

.profile_detail_info label input {
    width: 100%;
    padding: .625rem 1.5rem;
    font-size: 0.975rem;
    border-radius: 5px;
    background-color: #2b2b40;
    color: #92929f;
    border: none;
}

.profile_detail_info label input:focus {
    outline: none;
    border: none;
}


.company_logo_form_block {
    width: 100%;
    display: flex;
}

.title_company_logo_form_block {
    width: 33%;
    display: flex;
}

.title_company_logo_form_block h1 {
    color: #565674;
    font-size: 0.9rem;
}

.title_company_logo_form_block span {
    font-size: 13px;
    margin: 0 10px 0 2px;
    color: #f1416c;
}

.image_company_logo_form_block {
    display: flex;
    margin: 20px 0;
}

.default_image_image_company_logo {
    background-color: #2e2d42;
    width: 125px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 35px 5px 5px;
}

.change_image_company_logo {
    display: flex;
    height: 15px;
}

.change_image_company_logo {
    display: flex;
    margin-left: 5px;
}

.change_image_company_logo input {
    width: 15px;
    display: none;
}

.change_image_company_logo svg {
    position: absolute;
}

.change_image_company_logo svg:hover {
    cursor: pointer;
    fill: #009ef7;
}

.attention_text_validate_company_logo {
    font-size: 12px;
    color: #5e6778;
}

.attention_text_validate_company_logo p {
    width: 100%;
}

.save_changes_profile_redactor_block {
    border-top: 1px solid #2b2b40;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
}

.save_changes_profile_redactor_block a, button {
    border-radius: 5px;
    padding: calc(.775rem + 1px) calc(1.5rem + 1px);
    border: none;
}

.save_changes_profile_redactor_block a {
    background-color: #2b2b40;
    color: #7e8299;
    margin-right: 10px;
}

.save_changes_profile_redactor_block button {
    background-color: #009ef7;
    color: #FFF;
}

.type-activity-radio-block {
    display: flex;
    flex-direction: column;
	margin: 20px 10px 0 10px;
}

.type-activity-radio-block input[type=radio] {
	display: none;
}

.type-activity-radio-block label {
    width: 100%;
}

.type-activity-radio-block input[type=radio]:checked + label {
	cursor: pointer;
    background-color: #01456a;
    color: #009ef7;
    border-radius: 8px;
}

.title_type_activity_block {
    display: flex;
    align-items: center;
    border: 1px dashed #5e6778;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.title_type_activity_block:hover {
    cursor: pointer;
    background-color: #01456a;
    border: 1px solid #009ef7;
    color: #009ef7;
}

.title_type_activity_block i {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.title_type_activity_block h1 {
    font-size: 18px;
}

.change_sign_in_method_profile_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.change_sign_in_method_profile_block span {
    cursor: pointer;
    background-color: #323248;
    color: #7e8299;
    padding: calc(.775rem + 1px) calc(1.5rem + 1px);
    border-radius: 5px;
}

.title_change_sign_in_method_block h1 {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.title_change_sign_in_method_block p {
    color: #6d6d80;
    font-size: 1.075rem;
}

.change_email_profile_redactor_block,
.change_email_profile_redactor_block {
    display: none;
}

.inputs_change_email_profile_redactor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs_change_email_profile_redactor label {
    width: calc(100% / 2 - 10px);
}

.inputs_change_email_profile_redactor label p {
    color: #cdcdde;
    font-size: 1.075rem;
    font-weight: 600;
}

.inputs_change_email_profile_redactor label input {
    margin: 20px 0 40px 0;
    width: 100%;
    background-color: #1b1b29;
    border: none;
    border-radius: 5px;
    color: #92929f;
    padding: .825rem 1.5rem;
}

.inputs_change_email_profile_redactor label input:focus {
    outline: none;
    border: none;
}

.buttons_change_email_profile_redactor button, span {
    padding: calc(.775rem + 1px) calc(1.5rem + 1px);
    border-radius: 5px;
}

.buttons_change_email_profile_redactor button {
    background-color: #009ef7;
    border: none;
    color: #FFF;
}

.buttons_change_email_profile_redactor span {
    cursor: pointer;
    color: #474761;
    transition: all 0.3s ease;
}

.buttons_change_email_profile_redactor span:hover {
    background-color: #212e48;
    color: #009ef7;
}

.change_error_message_block {
    top: 30px;
    right: 100px;
    position: fixed;
    padding: 20px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1e1e2d;
    border-radius: 7px;
}

.change_error_message_block p {
    color: #f1416c;
    font-size: 16px;
    line-height: 1.5rem;
}

.close_error_message {
    background-color: #50cd89;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}