<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/13ccb33514.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="{% static 'base.js' %}"></script>
    <title>{% block title %}Ticket Booking System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img src="{% static 'images/logo.png' %}" width="120" class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events/movie">Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events/show">Concert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events/performance">Theatre</a>
                    </li>
                </ul>
                <form class="d-flex" style="margin-left: 30%">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-danger" type="button">Search</button>
                </form>
                <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                     <a class="nav-link" href="#">User:
                    {{ user.username }}</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
    {% for image_list in images %}
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
        {% for image in image_list %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{% static 'images/carousel_images/' %}{{ image }}" class="d-block w-100"
                     alt="Image {{ forloop.counter }}">
            </div>
        {% endfor %}
    {% endfor %}
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

    <div class="main">
    <div id="movieList" class="container" style="background-color: #41060e">
    <div class="row">
        <div id="pop" class="col-7">
            <div class="row">
                <div class="col-12 text-white">Popular</div>
            </div>
            <div class="movies">
                {% for event in events %}
                    <div class="item" style="padding-left: 0;padding-right: 0">
                        <div style="background-image:url('{{ event.image.url }}')">
                            <p class="date">{{ event.release_date }}</p>
                            <p class="name">{{ event.title }}</p>
                            <p class="location">{{ event.country }}</p>
                            <nav class="hover">
                                <h1 class="hover-title">{{ event.title }}</h1>
                                <a class="nav-link" href="/events/{{ event.category }}/{{ event.id }}">
                                    <button class="buy-btn"><h6>buy tickets</h6></button>
                                </a>
                            </nav>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>

        <div class="col-5 d-flex justify-content-center justify-content-md-end">
            <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">
                <span>Choose a city</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Nur-Sultan</a></li>
                <li><a class="dropdown-item" href="#">Almaty</a></li>
                <li><a class="dropdown-item" href="#">Shymkent</a></li>
                <li><a class="dropdown-item" href="#">Turkistan</a></li>
                <li><a class="dropdown-item" href="#">Aktau</a></li>
                <li><a class="dropdown-item" href="#">Aktobe</a></li>
                <li><a class="dropdown-item" href="#">Taraz</a></li>
                <li><a class="dropdown-item" href="#">Karaganda</a></li>
                <li><a class="dropdown-item" href="#">Ust'-Kamenogorsk</a></li>
                <li><a class="dropdown-item" href="#">Kostanay</a></li>
                <li><a class="dropdown-item" href="#">Semey</a></li>
                <li><a class="dropdown-item" href="#">Taldykorgan</a></li>
                <li><a class="dropdown-item" href="#">Kyzylorda</a></li>
                <li><a class="dropdown-item" href="#">Kokshetau</a></li>
                <li><a class="dropdown-item" href="#">Uralsk</a></li>
                <li><a class="dropdown-item" href="#">Pavlodar</a></li>
                <li><a class="dropdown-item" href="#">Petropavl</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
    </div>

{% endblock %}

</div>
</div>
<footer class="bg-dark text-center text-white sticky">
    <div class="container p-4 pb-0 ">
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.facebook.com/ticketonkz?utm_source=fb&utm_medium=referral&utm_campaign=sait_glavnaya%C2%AD_perehodi"
               role="button">
                <i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/ticketonkz" role="button">
                <i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://ticketon.kz/" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.instagram.com/ticketonkz/?utm_source=instagram&utm_medium=referral&utm_campaign=sait_g%C2%ADlavnaya_perehodi"
               role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fgroups%2F8448443&trk=login_reg_redirect"
               role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/thevarp19/ticket_booking_system"
               role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Website by: "Deserve Full" team
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>